.chatMain{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    padding: 5px;
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .topic{

        font-size: xx-large;
        
        font-weight: bolder;
    }

    .chatbox{
        margin-left:auto;
        margin-right:auto;
        width:90%;
        height: 60vh;
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }
       border: solid gray 2px;
    }   

    .form{
        margin-left:auto;
        margin-right:auto;
        width:80%;
        display: flex;
        
        margin-bottom: 20px;

        .inputMsg{
            padding: 1%;
            width: 80%;
            border: solid gray 0.5px;
            border-radius: 4px;
            margin-top: 2%;
            margin-left:auto;
            margin-right: 2%;
        }
        .sendBtn{
            font-size: xx-large;
            width:20%;
            margin-top: 2%;
            margin-left:auto;
            margin-right:auto;
            font-weight: bolder;
            background-color: gray;

        }
    }

    
}

