
.message{
    margin-left:auto;
    margin-right:auto;
    width: 100%;
    padding: 5px;
    
    // height: 59vh;
    // overflow-y: scroll;
    // scrollbar-width: none;
    // &::-webkit-scrollbar{
    //     display: none;
    // }

    
    

    .Right{
        justify-content: right;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        margin-left: 50%;
        margin-top: 1%;

        .Rightblock{
            margin-left:auto;
            display: flex;
            flex-direction: column;
            
            .msg{
                .name{
                justify-content: left;
                align-items: flex-end;
                display: flex;
                font-weight: bolder;
                font-size: medium;
            }
                background-color: rgb(197, 239, 253);
                border: gray solid 0.5px;
                border-radius: 5px;
                justify-content: center;
                display: flex;
                flex-direction: column;
                width: auto;
                font-size: x-large;
                padding: 5px;
            }
            
        }
        
    }

    .Left{
        justify-content: left;
        align-items: flex-start;
        display: flex;
        flex-direction: column; 
        margin-top: 1%;

        .Leftblock{
            margin-left:auto;
            display: flex;
            flex-direction: column;

            
            .msg{
                .name{
                justify-content: left;
                align-items: flex-start;
                display: flex;
                font-weight: bolder;
                font-size: medium;
            }
                background-color: rgb(255, 231, 215);
                border: gray solid 0.5px;
                border-radius: 5px;
                justify-content: center;
                display: flex;
                flex-direction: column;
                width: auto;
                font-size: x-large;
                padding: 5px;
            }
            
        }
    }
}

